@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #d9a029;
    --secondary-color: rgb(196, 212, 20);
    --text-color: white;    
}
header { 
    display: grid;
    margin: 10px auto;
    max-width: 1000px;
    align-items: center;
    background-color: white;
    border: 1px solid #d9a029;
    grid-template-columns: 220px 1fr 2fr;
}
header nav {
    background-color: #d9a029;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    width: 450px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 10 px;
}
nav a:hover {
    color: #c2f279;
}
header img {
    width: 200px;
    height: auto;
    margin: 0 0.25rem 0 3.5rem;
}
header h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    padding-right: 90px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'playfair Display', serif;
    color: var(--primary-color);
}
p {
    font-family: 'Ubuntu', sans-serif;
}
section img {
    width: 900px;
}

.sociallinks {
    text-decoration: none;
}
.sociallinks a img {
    width: 20px;
}
.hero {
    position: relative;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
 .hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);         /* background color with opacity */
    width: 959px;
	color:var(--primary-color);
    padding: 20px;
}
.hero article {
    position: absolute;
    bottom: 150px;
    right: 50px;
    left: 50px;
    background-color: rgba(17, 122, 202, 0.7); /* background color with opacity */
    padding: 20px;
    color: var(--text-color);                                     
}
.hero article img {
    position: absolute;
    width: 200px;
    right: 50px;
    float: right;
}
.hero article p {
    font-size: larger;
    float: right; 
}