@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: #d9a029;
    --secondary-color: rgb(196, 212, 20);
    --text-color: white;    
}
header { 
    display: grid;
    margin: 10px auto;
    max-width: 1000px;
    align-items: center;
    background-color: white;
    border: 1px solid #d9a029;
    grid-template-columns: 220px 1fr 2fr;
}
header nav {
    background-color: #d9a029;
    padding: 12px;
    display: flex;
    justify-content: space-around;
    width: 450px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
nav a:hover {
    color: #39a8f6;
}
header img {
    width: 200px;
    height: auto;
    margin: 0 0.25rem 0 3.5rem;
}
header h1 {
    font-size: 1.5rem;
    font-family: sans-serif;
    text-align: center;
    padding-right: 90px;
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'playfair Display', serif;
    color: var(--primary-color);
}
p {
    font-family: 'Ubuntu', sans-serif;
}
.grid {
    border: 1px solid #d9a029;
    max-width: 1000px;
}
section h2 {
    text-align: center;
}
section img {
    max-width: 200px;
    height: auto;
}

.sociallinks {
    text-decoration: none;
}
.sociallinks a img {
    width: 20px;
}
.hero {
    position: relative;
}
main {
    max-width: 1000px;
    margin: 0 auto;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
 .hero h1 {
    position: absolute;
    top: 50px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7);         /* background color with opacity */
    width: 959px;
	color:var(--primary-color);
    padding: 20px;
}
.hero article {
    position: absolute;
    bottom: 150px;
    right: 50px;
    left: 50px;
    background-color: rgba(17, 122, 202, 0.7); /* background color with opacity */
    padding: 20px;
    color: var(--text-color);                                     
}
.hero article img {
    position: absolute;
    width: 200px;
    right: 50px;
    float: right;
}
.hero article p {
    font-size: larger;
    float: right; 
}
footer {
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #d9a029;
    text-align: center;
}
footer nav {
    display: flex;
    justify-content: flex-end;
}
/* contact us pages - css */
.container {
    display: flex;
  }
  
.company-info {
    flex: 1;
    text-align: center;
    justify-content: center;
}
.bold {
 font-style: italic;
 font-weight: bold;
 color: var(--primary-color);
}
.map {
    margin-left: auto;
    margin-top: 0;
}
.employees-container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

h2 { text-align: center;
     padding: 15px;;
}
div img {
    width: 200px
}
form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    font-family: 'Ubuntu';
   
}
 fieldset {
    padding: 1.5rem;
 }
 legend {
    padding: 0.5rem;
    color: var(--primary-color);
    font-size: 1.5em;
 }
label {
    padding: 1rem;
}
.info input {
    width: 190px;
    margin: 0 auto;
}
.info-name {
    margin-left: 0;
}
 .subscribe {
    font-style: italic;
}

input,textarea {
    padding: 0.3rem;
    font-size: 0.8rem;
    margin-left: 20px
}
button {
    margin: 1rem;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 1rem;
    border-radius: 1rem;
    padding: 8px;
}
button:hover {
    background-color: darkgoldenrod;
}