@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
    --primary-color: green;
    --secondary-color: rgb(196, 212, 20);
    --text-color: white;    
}
h1,h2,h3,h4,h5,h6 {
    font-family: 'playfair Display', serif;
    color: var(--primary-color);
}
p {
    font-family: 'Ubuntu', sans-serif;
}
section img {
    width: 900px;
}

.sociallinks {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
 .hero h1 {
    position: absolute;
    top: 120px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.7); /* background color with opacity */
	color:var(--secondary-color);
    padding: 20px;
}
.hero article {
    position: absolute;
    bottom: 300px;
    right: 50px;
    left: 50px;
    background-color: rgba(17, 122, 202, 0.7); /* background color with opacity */
    padding: 100px;
    color: var(--text-color);                                     
}
.hero article img {
    position: absolute;
    width: 200px;
    right: 50px;
}
.hero article p {
    font-size: larger;
     
}