@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'ubuntu';
    font-size: 1.1rem;
}
header {
    margin: 0 auto;
    width: 650px;
    text-align: center;
}
h1 {
    margin: 1rem;
    font-size:  1.8rem;
    color: green;
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1.5rem;
    border: 1.5px solid rgba(13, 120, 52, 0.753);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
}
label {
    padding: 1.5rem;
}

input, select, textarea {
    padding: 0.5rem;
    font-size: 1rem;
    margin-left: 35px;
    border-radius: 5px;
}

button {
    margin: 3rem;
    background-color: green;
    color: #fff;
    border-radius: 5rem;
    padding: 10px;
    font-size: 1.1rem;
}
button:hover {
    background-color: darkgreen;
}